<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::header}"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!--Sidebar-->
    <ul th:replace="~{fragments::sidebar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{fragments::top-navbar}"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <p th:if="${size == 0}">No Order</p>
            <div th:if="${success}" class="text-center alert alert-success">
                <p th:text="${success}">
                </p>
            </div>
            <div th:if="${error}" class="text-center alert alert-danger">
                <p th:text="${error}"></p>
            </div>

            <table class="table table-striped" th:if="${size > 0}">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Hotel Booked</th>
                    <th scope="col">Check In Date</th>
                    <th scope="col">Check Out Date</th>
                    <th scope="col">Total Room</th>
                    <th scope="col">Duration Stay</th>
                    <th scope="col">Room Number</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customerOrders}">
                    <td th:text="${customer.guestName}"></td>
                    <td th:text="${customer.contactNumber}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.hotel}"></td>
                    <td th:text="${customer.checkInDate}"></td>
                    <td th:text="${customer.checkOutDate}"></td>
                    <td th:text="${customer.totalRoomsBooked}"></td>
                    <td th:text="${customer.durationOfStay}"></td>
                    <td th:text="${customer.roomInfo}"></td>
                    <td th:text="'$ '+${customer.totalAmount} "></td>
                    <td>
                        <a th:if="${customer.status} == false" th:href="@{/done-order(id = ${customer.bookingId})}"
                           class="btn btn-warning">Process</a>
                        <a th:if="${customer.status} == true" th:href="@{/process-order(id = ${customer.bookingId})}"
                           class="btn btn-success">Done</a>
                    </td>
                    <td>
                        <a th:if="${customer.status} == true" th:href="@{/delete-orders/{booking_id}/{room_id}/{guest_id}(booking_id=${customer.bookingId}, room_id=${customer.roomId}, guest_id=${customer.guestId})}"
                           class=" btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="~{fragments::footer}"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
</div>
<!-- Bootstrap core JavaScript-->
<div th:replace="~{fragments::script}"></div>

<script th:src="@{/js/categories.js}"></script>
</body>

</html>